@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px 15px 0px 15px;
    background-color: white;
    text-align: justify;
}

header {
    background-image: linear-gradient(to top, rgb(9, 80, 9), green, rgb(11, 206, 11));
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
}

header p {
    padding-bottom: 30px;
    font-size: 1.5em;
}

nav  {
    background-color: rgb(9, 80, 9);
    padding-bottom: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: rgb(18, 151, 18);
    border-radius: 5px;
    text-decoration: underline;
}

main h1       {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 0px 5px 5px;
}

main h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 0px 10px 0px;
    background-image: linear-gradient(to right, green, transparent);
    padding-left: 7px;
}

main p {
    text-indent: 25px;
    line-height: 1.5em;
    padding-bottom: 10px;
    font-size: 1.1em;
}

main p#ideia {
    padding-top: 10px;
}

main img {
    width: 95%;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    border-radius: 3px;
    padding: 3px;
}

main a:hover {
    text-decoration: underline;
}

#bugdroid {
    width: 50%;
}

div {
    max-width: 560px;
    max-height: 315px;
    background-color: blue;
    position: relative;
}

iframe {
    position: absolute;
    top: 50%;
    left:50%;

    transform: translate(-50%, -50%);
}

aside {
    background-color: aqua;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}

aside h3 {
    background-color: rgb(13, 168, 168);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside p {
    padding: 10px;
}

aside ul {
    columns: 2;
    list-style-position: inside;
}

strong {
    color: darkgreen;
    border-radius: 3px;
     padding: 5px;
}

footer {
    background-color: rgb(12, 221, 12);
    color:black;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}
