@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

menu {
    background-color: gray;

}

menu a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    padding: 10px 0px 10px 10px;
}

menu ul {
    list-style-type: none;
    display: block;
    text-align: center;
}

menu li {
    padding: 10px 0px 0px 10px;
    margin-bottom: 10px;
}
