@charset "UTF-8";
body {
    background-color: #13678A;
}
h1 {
    background-color: #012030;
    color: white;
}
h2 {
    background-color: #9AEBA3;
}
p {
    background-color: #DAFDBA;
}
h1#principal {
    text-align: center;
    text-decoration: underline;
}
h2:hover {
    text-transform: uppercase;
    text-decoration: overline;
}
.html:hover {
    background-color: purple;
}
.texto {
    text-align: right;
}
.texto::before {
    content: "(PORNOAA";
}
h2 > p {
    font-size: 12px;
}