@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');



body {
    font-size: 20px;
    font-family:'Roboto Mono', monospace, sans-serif;
}
h1 {
    font-size: 0,5em;
}